@media screen and (min-width:900px) {
    #order-main {
        display: grid;
        grid-template-columns: 1fr;


    }

    footer {
        display: flex
    }
    #hero img {
        width: auto;
        margin: 0 auto;
        border-radius: 8px;
    }
    

    #order-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 600px;
        margin-left: 20%;

    }
    #order-button {
        position: absolute;
        bottom: 50%;
        right: 50%;
        background-color: var(--accent-color1);
        font-size: 2rem;
        border: none;
        border-radius: 10px;
    }

    input,
    select,
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 50px;
    }

    #examples {
        display: flex;
    }


}