body {
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(249, 245, 245);
    padding: 20px;
    max-width: 1200px;
    
}
header{
    display:block;
}
h2,h1{
    font-family: 'Montserrat Light 300 Italic', sans-serif;
    font-style: italic;
}
h1, h2{
    background-color: #ffbb33;
}
a{
    text-decoration: none;
    color:#ffbb33
}
a:hover{
    color:#72aac0;
}

