

body {
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #F7FFF7;
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    max-width: 1000px;
    padding-left: 50px;
}

h1 {
    font-size: 100px;
    padding-bottom: 0%;
}

h2 {
    font-size: 45px;
    border-bottom: 3px solid black;
}

h1,
h2,
h3 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

header {display: flex;
    background-color: #A1C6D7;
    padding: 30px;
    border-radius: 5px;
 justify-content: center;
}

nav {
    background-color: #343434;
    padding-top: inherit;
    border-radius: 5px;


}
ul li a:hover {
    color: red; /* Change the text color to red on hover */
    text-decoration: underline; /* Add an underline on hover */
  }


nav a {
    text-decoration: none;
    color: #F7FFF7;
    line-height: 2;
    font-size: 22px;
    padding: 20px;;
}
nav ul {
    display:flex;
    flex-direction: column;
    text-align: center;
}
nav ul li {
    text-align: center;
}


h3 {
    background-color: #A1C6D7;
    font-size: 30px;
}

footer {
    background-color: #A1C6D7;
    font-size: 17px;
    border-radius: 10px;
    ;

}

ul li,
ul li a {
    list-style: none;
    text-align: left;
    text-decoration: none;
}

.card {
    border-radius: 10px;
    border: 1px solid grey;
    grid-column: inherit;
}
#learning{
    grid-template-rows: 2/3;
}
#information{
    grid-template-rows: 2/3;
}

.modified {
    color: black;
}

